.guide-container {
  margin: 0 10%;
  padding: 30px 10% 100px;
  border-top: 2px solid #eee;
  position: relative;
}
.guide-container h1 {
  border-left: 4px #e36474 solid;
  padding-left: 12px;
}

.go-home {
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  text-align: center;
  padding: 4px;
  border-radius: 2px;
  color: #e54748;
  border: 1px solid #e54748;
  font-size: 12px;
  cursor: pointer;
}
.go-home:hover {
  background-color: #e54748;
  color: #fff;
}

.guide-container blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left-color: #ffe564;
  border-left-width: 9px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -30px;
}
.guide-container a {
  text-decoration: none;
  color: #fa744f;
  font-weight: 600;
}
.guide-container ul li {
  margin-bottom: 6px;
}

.go-github-edit {
  margin-top: 20px;
  padding-left: 10px;
}

.go-github-edit a {
  border-bottom: 1px solid #fa744f;
  padding-bottom: 4px;
}
.go-github-edit a span {
  margin-left: 4px;
}
.github-contributors {
  margin-top: 30px;
  border-top: 3px solid #eee;
  padding-top: 10px;
  color: #444;
}
.github-contributors-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.github-contributors-info a {
  cursor: pointer;
  color: #444;
}
.github-contributors-info img {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
}
.github-contributors-info span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  margin-right: 16px;
}
