body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #155263; */
}

.header {
  background-color: #fff;
  height: 220px;
  padding: 0 10%;
}
.top img {
  width: 150px;
  padding-left: 60px;
  padding-top: 14px;
}
.header .title {
  text-align: center;

  font-size: 40px;
  color: #333;
  padding-top: 30px;
}
.header .title .text {
  position: relative;
}
.header .title .emoji {
  position: absolute;
  right: -100px;
  bottom: 0;
  font-size: 30px;
}
.header .sub-title {
  text-align: center;
  font-size: 18px;
  color: #555;
  padding-top: 6px;
}

.github-button {
  position: absolute;
  right: 10%;
  top: 30px;
}
